:root{
    --fontfamily-principal: "Gelasio", serif;
    --fontfamily-secundario: sans-serif;
    --fontsize-principal: clamp(1.5rem,4vw,2rem);
}

body{
    margin: 0;
}

*{
    box-sizing: border-box;
}

/*------------------------------- ENCABEZADO --------------------------------*/

.container_encabezado{
    width: 100%;
    display: flex;
    flex-direction: column;
    
}

.container_encabezado--titulo{
    border-radius: 1px;
    background-color: #ccc;
    padding: 10px 0px;
    color: #eee;
    text-align: center;
    animation: encabezado 2s linear both;
}

h1{
    font-family: var(--fontfamily-principal);
    font-weight: 400;
    font-size: var(--fontsize-principal);
    animation: texto 2s linear both;
    margin: 0;
}

.container_encabezado--mensaje{
    padding: 0;
    font-family: var(--fontfamily-secundario);
    font-size: clamp(0.7rem , 1vw, 0.9rem);
    background-color: #111;
    color: #ddd;
    padding: 4px;
    border: 1px;
    text-align: center;
    animation: aparecer 3s linear both;
}

p{
    margin: 0;
}

.container_encabezado--imagen{
    width: 100%;
}

.container_encabezado--imagen img{
    display: block;
    width: 100%;
    height: 100%;
    animation: aparecerimg 2.5s linear both;
}

picture source{
    display: block;
}


/*------------------------------- CATALOGO -----------------------------------*/

main{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container_catalogo{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 0px 50px;
    
}

.catalogo_joya{
    width: 280px;
    min-height: 250px;
    border-radius: 10px;
    padding: 8px;
    display: flex;
    gap: 5px;
    flex-direction: column;
    align-items: center;
    font-family: var(--fontfamily-principal);
    padding: 20px 0px;
    animation: aparecer 1s linear both;
}

.catalogo_joya--imagen{
    width: 250px;
    height: 200px;
    border-radius: 10px;
}

.catalogo_joya--imagen img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

h3{
    font-family: inherit;
    font-weight: 400;
    font-size: 0.9rem;
    margin: 0   ;
}

.catalogo_joya button{
    background-color: #333;
    color: #eee;
    font-family: inherit;
    font-size: clamp(0.5rem, 1vw, 0.8rem);
    border-radius: 5px;
    padding: 10px 0px;
    width: 80%;
}


/*---------------------------------- ANIMACIONES ----------------------------------*/

@keyframes encabezado {
    0%{
        background-color: #eeee;
        color: #111e;
    }
    50%{
        background-color: #111e;
        color: #ddd;
    }
    100%{
        background-color: #eeee;
        color: #111e;
    }
}

@keyframes texto {
    0%{
        transform: scale(0.5);
    }
    50%{
        transform: scale(1.5);
    }
    100%{
        transform: scale(1);
    }
}

@keyframes aparecer {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

@keyframes aparecerimg {
    from{
        opacity: 0;
    }
    to{
        opacity: 0.8;
    }
}



/*----------------------- RENDERIZADO MOVILES ------------------------*/

@media (max-width: 480px) {

    .container_encabezado--imagen img{
        filter: brightness(0.8) contrast(1.5);  
    }
    .container_catalogo{
        grid-template-columns: repeat(2,1fr);
        gap: 0px 10px;
    }
    .catalogo_joya{
        width: 180px;
        
    }
    .catalogo_joya--imagen{
        width: 100%;
        height: 170px;
    }
}